<!DOCTYPE html>
<html>
    <body>
        <h1>
            Welcome to ToDoList application
        </h1>
        <p>
            <h2>
                Add Task
            </h2>
            <!-- <a href="add">
                Adding task through anchor
            </a> -->
            <button type="button" onclick="gotoAdd()">
                Add
            </button>

            <h2>
               Update Task
            </h2>
            <button type="button" onclick="gotoUpdate()">
                Update
            </button>

            <h2>
                Delete Task
            </h2>
            <button type="button" onclick="gotoDelete()">
                Delete
            </button>
            <h2>
                Current Task List:
            </h2>
{% if tasks %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each task and display its content -->
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
    <p>No tasks found.</p>
        {% endif %}
        </p>
        <script>
            function gotoAdd() {
                window.location.href = "add";
            }

            function gotoUpdate() {
                window.location.href = "update";
            }

            function gotoDelete() {
                window.location.href = "delete";
            }
        </script>
    </body>
</html>